<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>GenericIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Articool Entry</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.devaikin.articool.artcl</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Articool Entry</string>
			<key>UTTypeIconFile</key>
			<string>GenericIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>GenericIcon</string>
				<key>UTTypeIconBadgeName</key>
				<string>GenericIcon</string>
				<key>UTTypeIconText</key>
				<string>artcl</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>de.devaikin.articool.artcl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>artcl</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-articool-article</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
